[Unit]
Description=DAD explorer sync service
After=network.target
 
[Service]
ExecStart=/root/service_java/explorer_sync/explorer_sync_entrypoint.sh

ExecReload=/bin/kill
KillMode=mixed
Restart=on-failure
RestartSec=42s
 
[Install]
WantedBy=multi-user.target
